* {
  margin: 0;
  padding: 0;
}
body {
  background-color:#0B0C10;
  color:white;
  font-family: "Poppins", sans-serif;
}
main hr {
  border: 0;
  height: 1.2px;
  margin: 60px 84px;
  background-color: #1F2833;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #1F2833;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: #45A29E;
  font-size: 1.02rem;
}
.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}
.firstSection > div {
  width: 30%;
}
.about-leftSection {
  font-size: 1rem;
  text-align: justify;
}
.leftSection {
  font-size: 2.5rem;
}
.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .buttons a{
    text-decoration: none;
    color: white;
}
.leftSection .btn {
  padding: 12px;
  background-color: #0B0C10;
  color:#66FCF1;
  border: 2px solid #66FCF1;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.rightSection img {
  width: 90%;
}
.myphoto{
    border-radius: 46%;
}
.text-grey {
  color: #C5C6C7;
}
.purple {
  color:#66FCF1;
}
#element {
  color: #66FCF1;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.9rem;
  color: #66FCF1;
}
.secondSection .box {
  background: #1F2833;
  width: 75vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: #1F2833;
  margin: 0 140px;
}
.image-top {
  width: 30px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 14px;
  color: #66FCF1;
}
.vertical-desc {
  position: relative;
  top: 86px;
  width: 150px;
  color: #C5C6C7;
  font-size: 9px;
}
footer {
  background-color: #1F2833;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 223px;
}
footer .footer-rights {
  text-align: center;
  color: #45A29E;
  padding: 12px;
}
.img {
  width: 50px;
}
.img-ig {
  width: 30px;
  padding-right: 8px;
  padding-top: 7px;
}
.img-fb  {
  width: 30px;
  padding-right: 8px;
  padding-top: 7px;
  
}

.footer  ul li a{
    text-decoration: none;
    color: white;
}
.footer  ul li a:hover{
    color: #45A29E;
}